[DEFAULT]
udp_session_timeout = 180
num_of_packets = 6001
initial_num_of_packets = 2001
seperation_train_length = 19
num_packet_trains = 200
probe_packet_length = 100
compression_node_addr = 131.179.192.60 
inter_experiment_sleep_time = 60
experiment_scenario_id = 0
raw_results_file_path = output_raw/
refined_results_file_path = output_refined/
temp_results_file_path = temp/
log_file_path = log/
