[DEFAULT]
udp_session_timeout = 10
num_of_packets = 8000
initial_num_of_packets = 6000
seperation_train_length = 10
num_packet_trains = 200
probe_packet_length = 1100
compression_node_addr = 127.0.0.1
inter_experiment_sleep_time = 3
experiment_scenario_id = 0
raw_results_file_path = output_raw/
refined_results_file_path = output_refined/
temp_results_file_path = temp/
log_file_path = log/
